.navbar,
.navbar-brand,
.nav-link,
.offcanvas-title {
  font-family: "Playfair Display", serif;
}
.offcanvas{
  background-color: #0f2027;
}

.navbar-toggler{
  border-color: white;
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E" ) !important;
}

.navbar {
    background: linear-gradient(90deg, #0f2027, #1e95bc, #062901); /* Dark blue gradient */
    /* transition:background 0.5s ease; */
  }
  
  .nav-link {
    position: relative;
    transition: all 0.3s ease;
    color:white !important;
  }
  
  .nav-link:hover {
    transform: translateY(-3px);
    color: #5ded66 !important;
  }
  
  .nav-link::after {
    content: '';
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 10%; */
    /* width: 80%; */
    /* height: 2px; */
    /* background-color: #f5c518; */
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  